@layer reset, base;

@layer reset {
    * {
    /* Remove default margin on everything */
    margin: 0;
    /* Remove default padding on everything */
    padding: 0;
    /* Calc `em` based line height, bigger line height for smaller font size and smaller line height for bigger font size: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
    line-height: calc(0.25rem + 1em + 0.25rem);
    }

    /* Use a more-intuitive box-sizing model on everything */
    *,
    ::before,
    ::after {
    box-sizing: border-box;
    }

    /* Remove border and set sensible defaults for backgrounds, on all elements except fieldset progress and meter */
    *:where(:not(fieldset, progress, meter)) {
    border-width: 0;
    border-style: solid;
    background-origin: border-box;
    background-repeat: no-repeat;
    }

    html {
    /* Allow percentage-based heights in the application */
    block-size: 100%;
    /* Making sure text size is only controlled by font-size */
    -webkit-text-size-adjust: none;
    }

    /* Smooth scrolling for users that don't prefer reduced motion */
    @media (prefers-reduced-motion: no-preference) {
        html:focus-within {
            scroll-behavior: smooth;
        }
    }

    body {
    /* https://marco.org/2012/11/15/text-rendering-optimize-legibility */
    text-rendering: optimizeSpeed;
    /* Allow percentage-based heights in the application */
    min-block-size: 100%;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter#example_2 */
    /* scrollbar-gutter: stable both-edges; Removed until this bug is fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=1318404#c2 */
    }

    /* Improve media defaults */
    :where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
    }
    :where(img, svg, video) {
    block-size: auto;
    max-inline-size: 100%;
    }

    /* Remove stroke and set fill colour to the inherited font colour */
    :where(svg) {
    stroke: none;
    fill: currentColor;
    }

    /* SVG's without a fill attribute */
    :where(svg):where(:not([fill])) {
    /* Remove fill and set stroke colour to the inherited font colour */
    stroke: currentColor;
    fill: none;
    /* Rounded stroke */
    stroke-linecap: round;
    stroke-linejoin: round;
    }

    /* Set a size for SVG's without a width attribute */
    :where(svg):where(:not([width])) {
    inline-size: 5rem;
    }

    /* Remove built-in form typography styles */
    :where(input, button, textarea, select),
    :where(input[type="file"])::-webkit-file-upload-button {
    color: inherit;
    font: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    }

    /* Change textarea resize to vertical only and block only if the browser supports that */
    :where(textarea) {
    resize: vertical;
    }
    @supports (resize: block) {
        :where(textarea) {
            resize: block;
        }
    }

    /* Avoid text overflows */
    :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
    }

    /* Fix h1 font size inside article, aside, nav, and section */
    h1 {
    font-size: 2em;
    }

    /* Position list marker inside */
    :where(ul, ol) {
    list-style-position: inside;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    :where(ul, ol)[role="list"] {
    list-style: none;
    }

    /* More readable underline style for anchor tags without a class. This could be set on anchor tags globally, but it can cause conflicts. */
    a:not([class]) {
    text-decoration-skip-ink: auto;
    }

    /* Make it clear that interactive elements are interactive */
    :where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
    cursor: pointer;
    touch-action: manipulation;
    }
    :where(input[type="file"]) {
    cursor: auto;
    }
    :where(input[type="file"])::-webkit-file-upload-button,
    :where(input[type="file"])::file-selector-button {
    cursor: pointer;
    }

    /* Animate focus outline */
    @media (prefers-reduced-motion: no-preference) {
        :focus-visible {
            transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
        }
        :where(:not(:active)):focus-visible {
            transition-duration: 0.25s;
        }
    }
    :where(:not(:active)):focus-visible {
    outline-offset: 5px;
    }

    /* Make sure users can't select button text */
    :where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]),
    :where(input[type="file"])::-webkit-file-upload-button,
    :where(input[type="file"])::file-selector-button {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    text-align: center;
    }

    /* Disabled cursor for disabled buttons */
    :where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"])[disabled] {
    cursor: not-allowed;
    }
}

@layer base {
    :root {
        font-size: 16px;

        /* Fonts */
        --font-heading: var(--font-nohemi), sans-serif;
        --font-body: var(--font-nohemi), sans-serif;

        /* Leading */
        --leading-zero: 100%;
        --leading-large: 150%;

        /* 8px Framework */
        --framework-4: 0.25rem;
        --framework-8: 0.5rem;
        --framework-12: 0.75rem;
        --framework-16: 1rem;
        --framework-24: 1.5rem;
        --framework-32: 2rem;
        --framework-48: 3rem;
        --framework-64: 4rem;
        --framework-80: 5rem;
        --framework-96: 6rem;
        --framework-128: 8rem;
        --framework-160: 10rem;

        /* Box Shadows */
        --box-shadow-1: 0px 24px 24px -12px rgba(0, 0, 0, 0.06), 0px 12px 12px -6px rgba(0, 0, 0, 0.06), 0px 6px 6px -3px rgba(0, 0, 0, 0.06), 0px 3px 3px -1.5px rgba(0, 0, 0, 0.06), 0px 1px 1px -0.5px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
    }
    body {
        /* This padding sets the gap around the edge of the game UI*/
        padding: var(--framework-8);
        background: #1a1a1a;
        min-block-size: 100dvh;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
        font-weight: 700;
        color: #fff;
    }
    .container {
        border: 1px solid #2A2928;
        background: #1F1E1D;
        height: calc(100dvh - var(--framework-16));
        border-radius: var(--framework-8);
        position: relative;
        overflow: hidden;
        box-shadow: var(--box-shadow-1);
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: var(--framework-24);
        padding: var(--framework-16) var(--framework-16);
        height: var(--framework-80);
        border-radius: var(--framework-8) var(--framework-8) 0 0;
        box-sizing: border-box;
        background: #1F1E1D;
        border-bottom: 1px solid #2A2928;
    }
    .header-nav {
        display: none;
    }
    nav > ul {
        list-style: none;
    }
    nav > ul > li {
        font-family: var(--font-body);
        font-weight: 700;
        letter-spacing: 0.16px;
        color: #fff;
        line-height: var(--leading-zero);
    }
    nav > ul > li> a:has(svg) {
        display: flex;
    }
    .bottom-nav {
        border-top: 1px solid #2A2928;
        background-color: #1F1E1D;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: var(--framework-8);
        /* This accounts for Safari bottom bar, fallback for if dvh units don't count*/
        padding-bottom: calc(var(--framework-8) + env(safe-area-inset-bottom));
        z-index: 2;

        & > ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
        }

        & > ul > li {
            /* This sets the width of each bottom nav item */
            width: calc((100vw - var(--framework-16)) / 4);
        }
    }
    .bottom-nav > ul > li > a, button {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--framework-12);
        line-height: var(--leading-large);
    }
    .bottom-nav > ul > li > button {
        background: transparent;
        margin: 0 auto;
        height: 100%;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    main {
        padding: var(--framework-16);

        /* This padding accounts for bottom nav on mobile */
        padding-bottom: var(--framework-64);

        height: calc(100% - var(--framework-80));
        /* This min-block-size is not useful anymore */
        /*min-block-size: calc(100dvh - var(--framework-80)); */
        overflow-y: scroll;
    }

    /* Animations */
    @media (prefers-reduced-motion: no-preference) {
        /* Animations in this section for users who do not prefer reduced motion */
    }


    @media screen and (min-width: 768px) {
        body {
            /* This padding sets the gap around the edge of the game UI*/
            padding: var(--framework-16);
        }
        .container {
            height: calc(100dvh - var(--framework-32));
        }
        header {
            justify-content: start;
        }
        .header-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .header-nav > ul > li {
            display: inline-block;

            &:not(:first-child) {
                margin-left: var(--framework-16);
            }
        }
        .bottom-nav {
            display: none;
        }
        main {
            padding: var(--framework-32);

            /* This padding accounts for bottom nav on mobile */
            padding-bottom: var(--framework-64);
        }
    }
    @media screen and (min-width: 1024px) {
        body {
            /* This padding sets the gap around the edge of the game UI*/
            padding: var(--framework-24);
        }
        .container {
            height: calc(100dvh - var(--framework-48));
        }
        header {
            padding: var(--framework-16) var(--framework-32);
        }
    }
}